.stadium-container{
    height: 100vh;
    background-position: center;
    background-size: cover;
}

.stadium-info{
    position: fixed;
    margin-top: 3%;
    transform: translateX(65vw);
    height: fit-content;
    width: 500px;
    background-color:rgba(0, 0, 0, 0.65);
    font-family: "Nunito", sans-serif;
    color: var(--ternary-color);
}

.stadium-info p{
    margin: 3% 5%;
    font-size: 1.2rem;
}

.stadium-info h1{
    margin: 3%;
    
}

.stadium-info a{
    color: var(--ternary-color);
}